.cards-wrapper {
    width: 375px;
    height: 205px;
    padding-right: 5.3px;
    position: relative;
    @media only screen and (max-width: 576px) {
        width: 305px;
        height: 180px;
    }

    .cards-container{
        width: 370px;
        height: 205px;
        border-radius: 4px;
        overflow: hidden;
        @media only screen and (max-width: 576px) {
            width: 300px;
            height: 180px;
        }
    }
    & .btn-play {
        background-repeat: no-repeat;
        height: 50px;
        left: calc(50% - 27px);
        position: absolute;
        top: calc(50% - 27px);
        width: 50px;
        z-index: 999;
        cursor: pointer;
        img{
            object-fit: fill;
        }
    }
    .title {
        position: absolute !important;
        bottom: 0;
        color: red !important;
        left: 0;
        z-index: 999;

        & p {
            color: #ffffff;
            margin-left: 20px !important;
            font-family: Inria Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.79px;
            text-align: left;
            text-transform: lowercase;
        }

        & h1 {
            color: #ffffff;
            margin-left: 20px !important;
            margin-bottom: 23px;
            font-family: Inria Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.58px;
            text-align: left;
        }
    }
    img{
        position: relative;

    }

   
}